# Virtual Environment
venv/
.envrc

# Data
ny_taxi_postgres_data/
data_pgadmin/
yellow_tripdata_2021-01.csv

# Google Cloud Service Keys
ny-taxi-service-key.json

# Large output files
output.csv
output.csv.gz

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars


ny-taxi-service-key.json
